
.card-row {
display: flex;
justify-content: space-around; /* Adjusts space between cards */
padding: 20px;
flex-wrap: wrap; /* Allows wrapping of cards */

}

.card {
width: 40%; /* Adjust width to fit two cards in a row */
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
margin-bottom: 80px; /* Space between cards in column layout */
border-radius:20px !important;
border:#006d74 2px solid !important;
min-height: 400px !important;
height: auto !important;
}

.card img {
display: block;
margin: 0 auto; /* Centers the image */
margin-top:-50px;
height: 50px;
}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.w3-display-container {
position: relative;
}

.w3-text-white {
color: white;
}
/* card */
.top-caption, .caption-container {
position: absolute;
width: 100%;
left: 0;
text-align: center;
background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
height: 15%;
color: black;
/* padding: 10px 0; */
}

.top-caption {
top: 0;
height: 30%;
background-color: #006d74;
}
/* slider */
body, html {
margin: 0;
padding: 0;
height: 100%;
/* overflow: hidden; */
}

.carousel-container {
width: 100%;
height: 80%;
position: relative;
border-bottom: #006d74 2px solid;
}

.mySlides {
display: none;
width: 100%;
height: 100%;
position: absolute;
text-align: center;
}

.mySlides img {
width: 100%;
height: 100%;
height: calc(100% - 50px); /* Adjust height to leave space for caption */
object-fit: cover;
}
.caption-container {
position: absolute;
bottom: 0;
width: 100%;
/* background: rgba(28, 124, 4, 0.5); */
background-color: white;
color: white;
padding: 10px 0;
}
.caption-container p {
margin: 5px 0;
}

.caption-container button {
padding: 5px 10px;
border: none;
background-color: #4CAF50;
color: white;
cursor: pointer;
}






.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.d-flex>div {
  box-sizing: border-box;
}

.main-section-container-aboutsubsection-description {
  font-size: 1.2rem;
}

.slider-image-container
{
    display:flex !important;
    justify-content:center !important;
}
.slider-image-container{
    height:300px !important;
    width:auto !important;
}












@media (min-width: 801px) and (max-width: 1100px) {
    
  .secondimg-about-page {
    top: -20px !important;
  }

  .main-section-container-aboutpage {
    width: 85% !important;
  }

  .main-section-container-aboutsubsection-description {
    font-size: 1rem;
  }
  

}

@media (min-width: 501px) and (max-width: 800px) {
  .second-container
  {
      flex-direction:column-reverse !important;
      
  }
  .img-container {
height: 65%;
}
.see-more-btn {
height: 30px;
width: 22%;
font-size: 20px;
margin: 4px auto;
margin-top:auto;
}
.slider-container {
width: 95% !important;
}


  .main-section-container-aboutpage>div>img {
    display: none;
  }

 
  .main-section-container-aboutsubsection-description {
    border: 1px solid grey;
    width: 100% !important;
    font-size: 1.2rem;
    text-align: center;
    margin: 10px 0px;
    box-shadow: 2px 2px 10px #dbdbdb;
    padding: 0px 5px !important;
  }
      .slider-image{
    height:255px !important;
    margin-top:2rem !important;
}
}

@media (min-width: 250px) and (max-width: 500px) {
  .card {
width: 100%; /* Full width for mobile screens */
}
      .img-container{
          height:70%;
      }
     .second-container
  {
      flex-direction:column-reverse !important;
  }
  
    
      .see-more-btn {
height: 25px;
width: 32%;
font-size: 14px !important;
margin-top:auto;
}


.slide {
min-height: 70vh !important;
}
/*slieder css query end*/
    
  .main-section-container-aboutpage>div>img {
    display: none;
  }

  .main-section-container-aboutsubsection-description {
    border: 1px solid;
    width: 100% !important;
    font-size: 1.2rem;
  }

  .main-section-container-aboutsubsection-description {
    text-align: center;
    margin: 10px 0px;
    box-shadow: 2px 2px 10px #dbdbdb;
    padding: 0px 5px;
    min-height: 260px !important;
  }

  .main-section-container-aboutpage {
    width: 95% !important;
  }

  .main-section-container-aboutsubsection-description>h1 {
    font-size: 1.5rem !important;
  }
          .slider-image{
    height:255px !important;
    margin-top:2rem !important;
} 
.testing-quran-heading{
    padding:3px 35px;
}
.height-from-top
{
    height:65px !important;
}
}
